/FindElementIncreasingDecreasing1.class
/FindElementSinglePass.class
/FindMaxIncreasingDecreasing.class
/FindPivotInSortedRotatedArray.class
/FrequencyOfNumber.class
/PeakElementInArray.class
/FindAndInsertElement.class
/FindPivotInSortedRotatedDublicateArrayElement.class
